# On Tag pipeline
# Runs when a semver tag is pushed up to GitHub.
#
# IMPORTANT!
# The following click-ops step must be taken to allow this action to propagate a secret
# key when running the django-checks action in deploy mode:
# 1. Populate a GitHub Actions secret called `DJANGO_SECRET_KEY` with a random string at
#    least 50 characters long in `github.com/<user>/{{project_name}}/settings/secrets/actions`.

name: on-tag

on:
  push:
    # run this workflow only if the tag matches the format 'vM.m.p' (semver)
    tags:
      - 'v*.*.*'

jobs:
  checks:
    uses: ./.github/workflows/_pre-build-checks.yaml
    with:
      django_checks_deploy: 'true'

  containerise:
    needs:
      - checks
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - run: {% raw %}echo "REPO_NAME=${GITHUB_REPOSITORY@L}" >> $GITHUB_ENV{% endraw +%}
      - uses: ./.github/actions/containerise
        with:
          dockerfile: _deploy/deploy.Dockerfile
{% raw %}          username: ${{ github.actor }}{% endraw +%}
{% raw %}          password: ${{ github.token }}{% endraw +%}
          tags:
{% raw %}            ghcr.io/${{ env.REPO_NAME }}:latest,{% endraw +%}
{% raw %}            ghcr.io/${{ env.REPO_NAME }}:${{ github.ref_name }},{% endraw +%}
