# {{project_name}} developer README

## Develop

### The runserver recipe

The `runserver` just recipe is the main command to call when developing {{project_name}}.
It installs dependencies and the application (in editable mode) in a virtual environment,
then invokes Django's `runserver` using Python in [Development Mode](https://docs.python.org/3/library/devmode.html).
Python's Dev Mode will show warnings (Deprecation, Import, Resource) that are otherwise hidden.
