{% raw %}{% extends "_base.html" %}{% endraw +%}

{% raw %}{% block head_title %}Home{% endblock %}{% endraw +%}

{% raw %}{% block content_root %}{% endraw %}
<section>
    <header>
        <h1>{{ project_name }}</h1>
        <p>A Django web application generated <br>using the 🐴 djereo project template.</p>
        <br>
        <p>
            <a href="https://albertomh.github.io/djereo/" target="_blank">
                <strong>📖 djereo docs</strong>
            </a>
            <a href="https://github.com/albertomh/djereo" target="_blank">
                <em>🐙 Repository</em>
            </a>
            <a href="https://github.com/albertomh/djereo/releases" target="_blank">
                <em>📦 Releases</em>
            </a>
        </p>
    </header>
</section>
{% raw %}{% endblock content_root %}{% endraw +%}
