from django.apps import AppConfig


class UsersConfig(AppConfig):
    {% set django_ver_parts = django_version.split('.') %}
    {% set django_ver_major = django_ver_parts[0] | int %}
    {% if django_ver_major < 6 %}
    default_auto_field = "django.db.models.BigAutoField"
    {% endif %}
    name = "users"
